<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>Django on Openshift DIY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Django 1.4 example project for deployment on Openshift">
  <meta name="author" content="José Moreira">

  <!-- Le styles -->
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
  <style>
    body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
  <a href="https://github.com/zemanel/openshift-diy-django-example"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Django on Openshift DIY</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="https://github.com/zemanel/openshift-diy-django-example">Source Code</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <h2>About</h2>
    
    <p>A Django 1.4 example project for deployment on <a href="http://openshift.redhat.com">http://openshift.redhat.com</a> 
        "Do It Yourself" application type</p>
    
    <h2>Features</h2>
    
    <p>
      <ul>
        <li>Django 1.4</li>
        <li>'django.contrib.staticfiles' support</li>
        <li>Pip</li>
        <li>South</li>
        <li>MongoDB (caching and Celery support ~ work in progress)</li>
        <li>Gunicorn</li>
        <li>Postgresql</li>
      </ul>
    </p>
    
    <h2>Notes</h2>
    
    <p>The end goal is to manage the application with Supervisord, including the gunicorn and celeryd processes
        but that is not currently posssible due to the lack of shared memory support</p>

  </div> <!-- /container -->

  <!-- Javascript -->
  <script src="{{ STATIC_URL }}js/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>

  </body>
</html>
